<!DOCTYPE html>
<html>
    <head>
        <base href="../../../"/>
        <title>Création de compte</title>
        <meta charset="utf-8" />
        <meta name="description" content="The most advanced Bootstrap 5 Admin Theme with 40 unique prebuilt layouts on Themeforest trusted by 100,000 beginners and professionals. Multi-demo, Dark Mode, RTL support and complete React, Angular, Vue, Asp.Net Core, Rails, Spring, Blazor, Django, Express.js, Node.js, Flask, Symfony & Laravel versions. Grab your copy now and get life-time updates for free." />
        <meta name="keywords" content="metronic, bootstrap, bootstrap 5, angular, VueJs, React, Asp.Net Core, Rails, Spring, Blazor, Django, Express.js, Node.js, Flask, Symfony & Laravel starter kits, admin themes, web design, figma, web development, free templates, free admin themes, bootstrap theme, bootstrap template, bootstrap dashboard, bootstrap dak mode, bootstrap button, bootstrap datepicker, bootstrap timepicker, fullcalendar, datatables, flaticon" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta property="og:locale" content="en_US" />
        <meta property="og:type" content="article" />
        <meta property="og:title" content="Metronic - Bootstrap Admin Template, HTML, VueJS, React, Angular. Laravel, Asp.Net Core, Ruby on Rails, Spring Boot, Blazor, Django, Express.js, Node.js, Flask Admin Dashboard Theme & Template" />
        <meta property="og:url" content="https://keenthemes.com/metronic" />
        <meta property="og:site_name" content="Keenthemes | Metronic" />
        <link rel="canonical" href="https://preview.keenthemes.com/metronic8" />
        <link rel="shortcut icon" href="assets/media/logos/favicon.ico" />
        <!--begin::Fonts(mandatory for all pages)-->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter:300,400,500,600,700" />
        <!--end::Fonts-->
        <!--begin::Global Stylesheets Bundle(mandatory for all pages)-->
        <link href="{{ asset('assets/plugins/global/plugins.bundle.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('assets/css/style.bundle.css') }}" rel="stylesheet" type="text/css" />
        <!--end::Global Stylesheets Bundle-->
    </head>
    <body>
		<!--begin::Root-->
		<div class="d-flex flex-column flex-root" id="kt_app_root">
			<!--begin::Authentication - Sign-in -->
			<div class="d-flex flex-column flex-lg-row flex-column-fluid">
				<!--begin::Aside-->
				<div class="col-md-4 d-flex flex-lg-row-fluid">
					<!--begin::Content-->
					<div class="d-flex flex-column flex-center pb-0 pb-lg-10 p-10 w-300">
						<!--begin::Image-->
						{# <img class="theme-light-show mx-auto mw-200 w-250px w-lg-800px mb-10 mb-lg-0" style ="margin-top:-110px !important; margin-left: -100px !important;" src="{{ asset('image/2302-1.png') }}" alt="" /> #}
						<!--end::Image-->
					</div>
					<!--end::Content-->
				</div>
				<!--begin::Aside-->
				<!--begin::Body-->
				<div class="col-md-8 d-flex flex-column-fluid p-12" style ="padding-left:150px!important">
					<!--begin::Wrapper-->
					<div class="">
						<!--begin::Content-->
						<div class="d-flex flex-center flex-column align-items-stretch h-lg-100 w-md-700px">
							<!--begin::Wrapper-->
							<div class="d-flex flex-center flex-column flex-column-fluid pb-15 pb-lg-1">
								<!--begin::Form-->
								
								{{ form_start(registrationForm) }}
									<!--begin::Heading-->
									<div class="text-left mb-11">
										<!--begin::Title-->
										<h1 class="text-dark fw-bolder mb-3" style ="font-size:40px">Création de compte</h1>
										<!--end::Title-->
									</div>

									<!--begin::Input group-->
									<div class="mb-7">
										<!--begin::Label-->
										<!--end::Label-->
										<!--begin::Image input wrapper-->
										<div class="mt-1">
											<!--begin::Image placeholder-->
											<style>.image-input-placeholder { background-image: url('assets/media/svg/files/blank-image.svg'); } [data-bs-theme="dark"] .image-input-placeholder { background-image: url('assets/media/svg/files/blank-image-dark.svg'); }</style>
											<!--end::Image placeholder-->
											<!--begin::Image input-->
											<div class="image-input image-input-outline image-input-placeholder image-input-empty image-input-empty" data-kt-image-input="true">
												<!--begin::Preview existing avatar-->
												<div class="image-input-wrapper w-100px h-100px" style="background-image: url('')"></div>
												<!--end::Preview existing avatar-->
												<!--begin::Edit-->
												<label class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="change" data-bs-toggle="tooltip" title="Change avatar">
													<i class="ki-duotone ki-pencil fs-7">
														<span class="path1"></span>
														<span class="path2"></span>
													</i>
													<!--begin::Inputs
													<input type="file" name="photo" accept=".png, .jpg, .jpeg" />
													<input type="hidden" name="avatar_remove" />
													end::Inputs-->
												</label>
												<!--end::Edit-->
												<!--begin::Cancel-->
												<span class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="cancel" data-bs-toggle="tooltip" title="Cancel avatar">
													<i class="ki-duotone ki-cross fs-2">
														<span class="path1"></span>
														<span class="path2"></span>
													</i>
												</span>
												<!--end::Cancel-->
												<!--begin::Remove-->
												<span class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="remove" data-bs-toggle="tooltip" title="Remove avatar">
													<i class="ki-duotone ki-cross fs-2">
														<span class="path1"></span>
														<span class="path2"></span>
													</i>
												</span>
												<!--end::Remove-->
											</div>
											<!--end::Image input-->
										</div>
										<!--end::Image input wrapper-->
									</div>
									<!--end::Input group-->
									<!--begin::Row-->
									<div class="row row-cols-1 row-cols-sm-2 rol-cols-md-1 row-cols-lg-2">
										<!--begin::Col-->
										<div class="col">
											<!--begin::Input group-->
											<div class="fv-row mb-7">
												<!--begin::Input-->
												{{ form_widget(registrationForm.email, {'attr': {'placeholder': 'E-mail*', 'class': 'form-control bg-transparent'}}) }}
												{{ form_errors(registrationForm.email) }}
												<!--end::Input-->
											</div>
											<!--end::Input group-->
										</div>
										<!--end::Col-->
										<!--begin::Col-->
										<div class="col">
											<!--begin::Input group-->
											<div class="fv-row mb-7">
												<!--begin::Input-->
												{{ form_widget(registrationForm.dateNaiss, {'attr': {'placeholder': 'Date de naissance*', 'class': 'form-control bg-transparent'}}) }}
												{{ form_errors(registrationForm.dateNaiss) }}
												<!--end::Input-->
											</div>
											<!--end::Input group-->
										</div>
										<!--end::Col-->
									</div>
									<!--end::Row-->
									<!--begin::Row-->
									<div class="row row-cols-1 row-cols-sm-2 rol-cols-md-1 row-cols-lg-2">
										<!--begin::Col-->
										<div class="col">
											<!--begin::Input group-->
											<div class="fv-row mb-7">
												<!--begin::Input-->
												{{ form_widget(registrationForm.password.first,{'label': 'Mot de passe','attr':{'placeholder': 'Mot de passe', 'class': 'form-control bg-transparent'}}) }}	
												{{ form_errors(registrationForm.password.first) }}
												<!--end::Input-->
											</div>
											<!--end::Input group-->
										</div>
										<!--end::Col-->
										<!--begin::Col-->
										<div class="col">
											<!--begin::Input group-->
											<div class="fv-row mb-7">
												<!--begin::Input-->
												{{ form_widget(registrationForm.prenom, {'attr': {'placeholder': 'prenom*', 'class': 'form-control bg-transparent'}}) }}
												<!--end::Input-->
											</div>
											<!--end::Input group-->
										</div>
										<!--end::Col-->
									</div>
									<!--end::Row-->
									<!--begin::Row-->
									<div class="row row-cols-1 row-cols-sm-2 rol-cols-md-1 row-cols-lg-2">
										<!--begin::Col-->
										<div class="col">
											<!--begin::Input group-->
											<div class="fv-row mb-7">
												<!--begin::Input-->
  												{{ form_widget(registrationForm.password.second,{'label': 'Confirmation mot de passe','attr':{'placeholder': 'Confirmation du mot de passe', 'class': 'form-control bg-transparent'}}) }}
					 							{{ form_errors(registrationForm.password.second) }}
												<!--end::Input-->
											</div>
											<!--end::Input group-->
										</div>
										<!--end::Col-->
										<!--begin::Col-->
										<div class="col">
											<!--begin::Input group-->
											<div class="fv-row mb-7">
												<!--begin::Input-->
												{{ form_widget(registrationForm.nom, {'attr': {'placeholder': 'Nom*', 'class': 'form-control bg-transparent'}}) }}
												{{ form_errors(registrationForm.nom) }}
												<!--end::Input-->
											</div>
											<div class="fv-row mb-7">
												<!--begin::Input-->
												{{ form_widget(registrationForm.tel, {'attr': {'placeholder': 'Téléphone *', 'class': 'form-control bg-transparent'}}) }}
												{{ form_errors(registrationForm.tel) }}
												<!--end::Input-->
											</div>
											<!--end::Input group-->
										</div>
										<!--end::Col-->
									</div>
									<!--end::Row-->
									<!--begin::Row-->
									<div class="row row-cols-1 row-cols-sm-2 rol-cols-md-1 row-cols-lg-2">
										<!--begin::Col-->
										<div class="col">
											<!--begin::Input group-->
											
											<!--end::Input group-->
										</div>
										<!--end::Col-->
										<!--begin::Col-->
										<div class="col">
										<div class="fv-row mb-7">
												<!--begin::Input-->
												{{ form_widget(registrationForm.ville, {'attr': {'placeholder': 'Ville *', 'class': 'form-control bg-transparent'}}) }}
												{{ form_errors(registrationForm.ville) }}
												<!--end::Input-->
											</div>
										<div class="fv-row mb-7">
												<!--begin::Input-->
												{{ form_widget(registrationForm.address, {'attr': {'placeholder': 'Adresse postale*', 'class': 'form-control bg-transparent'}}) }}
												<!--end::Input-->
											</div>
											<!--begin::Input group-->
											
											<!--end::Input group-->
										</div>
										<!--end::Col-->
									</div>
									<!--end::Row-->
									<!--begin::Row-->
									<div class="row row-cols-1 row-cols-sm-2 rol-cols-md-1 row-cols-lg-2">
										<!--begin::Col-->
										
										<!--end::Col-->
										<!--begin::Col-->
										
										<!--end::Col-->
									</div>
									<!--end::Row-->
									<!--begin::Row-->
									
									<div class="row row-cols-1 row-cols-sm-2 rol-cols-md-1 row-cols-lg-2">
										<!--begin::Col-->
										<div class="col">
											
											<!--end::Input group-->
										</div>
										<!--end::Col-->
										<!--begin::Col-->
										<div class="col">
											<!--begin::Input group-->
											
											<!--end::Input group-->
										</div>
										<!--end::Col-->
									</div>
									<!--end::Row-->
									<!--begin::Action buttons-->
									<div class="d-flex flex-center">
										<!--begin::Button-->
										<a href="{{ path('app_login') }}" data-kt-contacts-type="cancel" class="btn btn-light me-3">Retour</a>
										<!--end::Button-->
										<!--begin::Button-->
										<button type="submit" data-kt-contacts-type="submit" class="btn btn-primary">
											<span class="indicator-label">S'INSCRIRE</span>
											<span class="indicator-progress">Please wait...
											<span class="spinner-border spinner-border-sm align-middle ms-2"></span></span>
										</button>
										<!--end::Button-->
									</div>
									<!--end::Action buttons-->
								
								{{ form_end(registrationForm) }}
								<!--end::Form-->
							</div>
							<!--end::Wrapper-->
							<!--begin::Footer-->
							<!--end::Footer-->
						</div>
						<!--end::Content-->
					</div>
					<!--end::Wrapper-->
				</div>
				<!--end::Body-->
			</div>
			<!--end::Authentication - Sign-in-->
		</div>

        <!--begin::Javascript-->
		<script>var hostUrl = "assets/";</script>
		<!--begin::Global Javascript Bundle(mandatory for all pages)-->
		<script src="{{ asset('assets/plugins/global/plugins.bundle.js') }}"></script>
		<script src="{{ asset('assets/js/scripts.bundle.js') }}"></script>
		<!--end::Global Javascript Bundle-->
		<!--begin::Vendors Javascript(used for this page only)-->
		<script src="{{ asset('assets/plugins/custom/datatables/datatables.bundle.js') }}"></script>
		<!--end::Vendors Javascript-->
		<!--begin::Custom Javascript(used for this page only)-->
		<script src="{{ asset('assets/js/custom/apps/contacts/edit-contact.js') }}"></script>
		<script src="{{ asset('assets/js/widgets.bundle.js') }}"></script>
		<script src="{{ asset('assets/js/custom/widgets.js') }}"></script>
		<script src="{{ asset('assets/js/custom/apps/chat/chat.js') }}"></script>
		<script src="{{ asset('assets/js/custom/utilities/modals/upgrade-plan.js') }}"></script>
		<script src="{{ asset('assets/js/custom/apps/chat/chat.js') }}"></script>
		<script src="{{ asset('assets/js/custom/utilities/modals/users-search.js') }}"></script>
		<!--end::Custom Javascript-->
		<!--end::Javascript-->

    </body>
</html>

